<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.center.example.usercenter.mapper.UserchartsMapper">

    <resultMap id="BaseResultMap" type="com.user.center.example.usercenter.model.domain.Usercharts">
            <id property="id" column="Id" jdbcType="BIGINT"/>
            <result property="userName" column="UserName" jdbcType="VARCHAR"/>
            <result property="userId" column="UserId" jdbcType="VARCHAR"/>
            <result property="createDate" column="CreateDate" jdbcType="TIMESTAMP"/>
            <result property="chartName" column="ChartName" jdbcType="VARCHAR"/>
            <result property="analysisAim" column="AnalysisAim" jdbcType="VARCHAR"/>
            <result property="chartType" column="ChartType" jdbcType="VARCHAR"/>
            <result property="isDelete" column="IsDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,UserName,UserId,
        CreateDate,ChartName,AnalysisAim,
        ChartType,IsDelete
    </sql>
</mapper>
